body{
    background-color: rgba(0, 0, 0, 0.887);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: auto;
    border-radius: 20px;
    border: 1px solid #da190b;
}

.boby{
    background: radial-gradient(circle, #2b2f65, #280401);
    /* background-color: #040949; */
    font-family: Arial, sans-serif;
    margin: 2px;
    padding: 10px;
    width: 400px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #da190b;
    color: white;
}

input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 0.5px solid #ed6767;
    width: 70%;
    box-shadow: 2px 1px 7px 6px rgba(181, -7, 63, 0.2);
    
}

button{
    padding: 10px;
    margin: 10px;
    border-radius: 17px;
    border: 0 ;
    background-color: #ed6767;
    color: white;
    cursor: pointer;
    box-shadow: 2px 1px 7px 6px rgba(181, -7, 63, 0.2);

}
ul{
    padding: 0;
    margin: 0;

}
ul li{
    width: auto;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 0.5px solid #ed676755;
    background-color: #e0dddd;
    backdrop-filter: blur(10px);
    color: black;
}


code {
    background-color: #f44336;
    padding: 4px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.887);
    font-size: 18.5px;
}

#delete-button{
    padding: 10px;
    background-color: #ed6767;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#delete-button:active{
    background-color: rgb(137, 44, 44);
}

#copy-button {
    padding: 10px;
    background-color: rgb(181, 181, 181); /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    cursor: pointer; /* Cursor changes to a hand when hovered over */
    border-radius: 5px; /* Rounded corners */
}

/* Change the background color when hovered over */
#copy-button:active {
    background-color: darkgrey;
}

#copy-button::before {
    content: "Copy to clipboard";
    position: absolute;
    top: -50px;
    right: 0;
    background-color: #d5cfcf;
    padding: 7px;
    border-radius: 15px;
    font-size: 15px;
    display: none;
}

#copy-button:active::before {
    display: block;
}


#clearButton {
    padding: 10px;
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    border: none; /* No border */
    cursor: pointer; /* Cursor changes to a hand when hovered over */
    border-radius: 5px; /* Rounded corners */
}

/* Change the background color when hovered over */
#clearButton:hover {
    background-color: #da190b;
}